* {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
}


body {
 width: 80%;
	margin: 0 auto;
	line-height: 2;	
}

a{
    color: #000;
    text-decoration: none;
    
    
}

a:hover{
    background: #991f1f;
    color : white;
    transition: 0.3s;
}
a:hover span{
/*    background: #991f1f;*/
    color : white;
    transition: 0.3s;
}

p a{
    font-weight: bolder;
    padding: 5px;
}

header {
    z-index: 2;
    width: inherit;
    position: fixed;
    top: 0px;
    background: rgba(255,255,255,0.7);
    margin: auto;
}

.title{
float:left;
    padding: 20px 20px;
}


.title a{
    padding: 5px;
    font-size: 15px;
}

ul {
    list-style-type: none;
     float: right;
}

li {
   padding:  20px 20px;
    float: left;
/*    font-size: px;*/
}

/*-----------------------------*/

.menubar {
    
}
.menubar li a {
    padding: 5px;

}
/*
.menubar li a:link {

	color: #000;
}

.menubar li a:visited{

	color: #000;
}
*/

/*
.menubar li a:hover {
	background: #861b20;
    color: #fff;
    transition: 0.4s;
}
*/

/*=======================*/
.contents {
    width: inherit;
z-index: 1;
   margin: auto;
    position: absolute;
top: 100px;

}




/*ーーーーーーーーーーーーーーーーーーーーーーーーーー*/


.works{
   float:left;
    margin: 16px 0px 16px 32px;
    padding: 20px;
    transition: 0.4s;
}

.works img{
    max-width: 100%;
    height: auto;
    width: 300px;
    height: 181px;
}

.works:hover {
    background: #861b20;
    transition: 0.4s;
}

.works:hover p{
    color: #fff;
    transition: 0.4s;
}

.main{
    width:1000px;
}
.main img{
    margin: auto;
    max-width: 800px;
}

.main a {
    padding: 5px;
    transition: 0.4s;
    text-decoration: underline;
}


.main a:hover {
	background: #861b20;
    color: #fff;
    transition: 0.4s;
}

.dishex{
    padding: 20px;
    height: 240px;
    width: 600px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    
}
.long{
    padding: 20px;
    height: 240px;
    width: 815px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
}

.state{
    width: 340px;

    font-size: 13px;
    float: left;
    
}

.statement{
    margin: 40px 0px;
    border: 2px solid;
    padding: 20px;
}

.icon{
    padding-left: 15px;
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.introduction{
    margin: auto;
     width: 60%;

}
